@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins";
}

body::-webkit-scrollbar {
    display: none;
}

ul::-webkit-scrollbar {
    display: none;
}